<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactRegister"
        tools:targetApi="31"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="com.alarme.alarme.view.cellphone_register.CellphoneRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_cellphone_register"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ContactRegister" />
        <activity
            android:name="com.alarme.alarme.view.contact_list.ContactListRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_contact_lister_register"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ContactRegister" />
        <activity
            android:name="com.alarme.alarme.view.contactregister.ContactRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_contact_register"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ContactRegister" />
        <activity
            android:name="com.alarme.alarme.view.home.AlarmeHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_alarme_home"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ContactRegister" />
        <activity
            android:name="com.alarme.alarme.view.maincontactregister.MainContactRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_main_contact_register"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ContactRegister" />
        <activity
            android:name="com.alarme.alarme.view.otp_code_register.OtpCodeRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_otp_code_register"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ContactRegister" />
        <activity
            android:name="com.alarme.alarme.view.user_register.UserRegisterActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ContactRegister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>